* {
    margin: 0%;
    padding: 0%;
    font-size: large;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {    
    align-content: center;
    text-align: center;
    color: white;
    padding: 1.25rem;
}

img{
    max-width: 20%;
    max-height: 50%;
}

body {
    background-color: darkgreen;
}