* {
    margin: 0%;
    padding: 0%;
    font-size: large;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-1 {padding: .50rem;}
.p-2 {
    padding: 1rem;
}

.nav-image {
    width: 15%;
    max-width: 100%;   
}

.works-image {
    width: 100%;
}
.logo-link {
    display: flex;
    align-items: center;
    color: white;    
    text-decoration: none;
}
.container {
    width: 100%;
    margin: 0%;      
}

.text-center {
    text-align: center;
}

.bg-theme-color-1 {
    background-color: darkgreen;
}

.bg-theme-color-2{
    background-color: green;
}

.facebook, .twitter, .github, .instagram, .linkedin , .whatsapp{
    padding: .75rem;
}

.facebook {    
    background-color: #0165E1;    
}
.twitter {
    background-color:#15a3db;
}
.github {
    background-color: #000000;
}
.linkedin{
    background-color: #0A66C2;
}
.instagram {
    background-color: #C13584;
}
.whatsapp {
    background-color: #28D146;
}


.footer-container {
    padding: 3rem;
    background-color: rgba(0, 0, 0, .90);
    color: white;
}

.footer-nav {
    display: flex;    
    align-items: center;    
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a{
    text-decoration: none;
    font-size: xx-large;
    color: white;
}

.footer-nav li{
    list-style-type: none;
    padding-right: .75rem;
    text-align: center;    
}
.footer-container a {
    text-decoration: none;
    color: white;
}

.contact-wrapper{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.tech-wrapper, .works-completed{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 1rem;    
}

.tech-item {
    padding: .50rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color:yellowgreen;
    width: 20%;      
}

.works-item {
    width: 33.33%;    
    padding: 1rem;
    text-align: center;    
}


header {  
    background-color:#006400;
    color: white;    
}

.about-group {
    width: 50%;
    
}

.navbar, .navbar-nav, .about-wrapper {
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.overlay-thumb {
    display: none;
    padding: 2.5em;
    color:#28D146;
    position: relative;
    z-index: 8020;
}

.thumb-hover:hover .overlay, .thumb-hover:hover .overlay-thumb {
    display: inline;
}

.thumb-hover:hover .overlay{    
    background-color: #00000080;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    transform: translateX(0);
}

.overlay {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
}

.thumb-hover {    
    position: absolute;    
    vertical-align: top;
    z-index: 8020;
    width: 29.5%;
    height: 41%;
           
}

 .nav-toggler {
    padding: 0 .75rem;
    cursor: pointer;
    display: none;

 }

 header {
    position: fixed;
    width: 100%;    
 }

.navbar > ul {
    list-style-type: none;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}

.navbar-nav > li {
    padding: 1rem;
}

.navbar-nav :hover {
    background-color: green;
    
}

.about-wrapper {
    background-color: green;
    padding: 1.75rem;
    width: 100%;
}

.about-header {
    width: fit-content;
    background-color: yellowgreen;
    padding: .75rem;
    font-size: xx-large;
}

.about-subheader {
    font-size: xx-large;
    padding: .75rem 0;
}

.about-content {
    color: wheat;
    font-weight: 500;
    font-size: large;
}

.different {
    color: white;
    font-size: xx-large;
}

h2, h3 {
    padding: 1.25rem;
    color: #28D146;
    font-size: x-large;
}
textarea {
    resize: vertical;
    width: 27rem;
    height: 15rem;
}
input, textarea{
    background-color: #00000038;
    padding: .75rem;
    margin: .50rem;
    color: white;
    border: none;
    border-radius: .75rem;    
}

form {
    text-align: center;
}

button {
    background-color: black;
    color: white;
    padding: .75rem 1.75rem;    
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

input::placeholder, textarea::placeholder{
    color: white;
    padding: 2rem;
}

input:focus, textarea:focus {
    outline: none;
}

.contact-group:first-child{
    padding-right: 2.5rem;
}

@media only screen and (max-width: 768px) {
 
 .about-group,
  .works-item,
  .tech-item,
   .contact-group{
    width: 100%;
    max-width: 100%;    
} 

.footer-nav, .contact-wrapper, .about-wrapper, .works-completed, .tech-wrapper {
    display: block;           
}

.nav-group, .nav-toggler{
    display: flex;
    align-items: center;   
}

.nav-group {
    padding: .75rem;    
}

.footer-nav li {
    text-align: left;
    padding-left: 4rem;
}
.contact-group {
    padding: .75rem .25rem;
    max-width: 100%;
    width: 100%;
}
textarea {
    resize: none;
    width: 100%;    
}

.about-wrapper{
    padding-top: 7rem;
}

input {
    width: 100%;
    padding: 1.5rem;
}
 
.about-content {
    font-size: large;
    text-align: left;
    padding: .75rem 0;
}
.about-subheader {
    font-size: x-large;
    text-align: left;
    padding: 1rem 0;
}

.site-logo {
    padding: .75rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}
.navbar-nav {
    display: none;    
}

.navbar-open {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    z-index: 9000;
    background-color: darkgreen;    
    /* transform: translateX(-100%);
    transition: transform .3s ease-in; */
}

.contact-group:first-child{
    padding-right: 0%;
}


.thumb-hover {    
    position: absolute;    
    vertical-align: top;
    z-index: 8020;
    width: 87%;
    height: 39.2%;           
}
}