* {
    margin: 0%;
    padding: 0%;
    font-size: large;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-1 {padding: .50rem;}
.p-2 {
    padding: 1rem;
}

.container {
    width: 100%;
    margin: 0%;      
}

.text-center {
    text-align: center;
}


.bg-theme-color-1 {
    background-color: darkgreen;
}

.bg-theme-color-2{
    background-color: green;
}

.facebook, .twitter, .github, .instagram, .linkedin , .whatsapp{
    padding: .75rem;
}

.facebook {    
    background-color: #0165E1;    
}
.twitter {
    background-color:#15a3db;
}
.github {
    background-color: #000000;
}
.linkedin, .calendry {
    background-color: #0A66C2;
}
.instagram {
    background-color: #C13584;
}
.whatsapp {
    background-color: #28D146;
}


.footer-container {
    padding: 3rem;
    background-color: rgba(0, 0, 0, .90);
    color: white;
}

.footer-nav {
    display: flex;    
    align-items: center;    
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a{
    text-decoration: none;
    font-size: xx-large;
    color: white;
}

.footer-nav li{
    list-style-type: none;
    padding-right: .75rem;
    text-align: center;    
}
.footer-container a {
    text-decoration: none;
    color: white;
}
.container .tech-stacks, .works-completed, .contact-me{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 1rem;    
}

.container > h1 {
    text-align: center;
    padding-top: 2rem;
    color: yellowgreen;
    font-size: xx-large;
    font-weight: bolder;
}

.tech-item {
    padding: .50rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color:yellowgreen;
    width: 20%;      
}

.works-item {
    width: 33.33%;    
    padding: 1rem;
    text-align: center;    
}


iframe {
    width: 100%;
    height: 15rem;    
    border: .2rem solid yellowgreen;
    
}

header {  
    background-color:darkgreen;  
    align-content: center;
    text-align: center;
    color: white;
    
}
.navbar img {
    width: 40%;
    max-width: 100%;
}

.about-image img {
    max-width: 100%;
    
}

.about-content-wrapper, .about-image {
    width: 50%;
    position: relative;
}
.navbar, .navbar-nav, .about-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-around;   */
    
}
 .nav-toggler {
    padding: 0 .75rem;
    cursor: pointer;
    display: none;

 }
.navbar > ul {
    list-style-type: none;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-weight: 500;
}

.navbar-nav > li {
    padding: .75rem;
}

.navbar-nav :hover {
    background-color: green;
}

.about-wrapper {
    background-color: green;
    padding: 1.75rem;
    width: 100%;
    
    
}

.about-header {
    width: fit-content;
    background-color: yellowgreen;
    padding: .75rem;
    font-size: xx-large;
}

.about-subheader {
    font-size: xx-large;
    padding: .75rem 0;
}

.about-content {
    color: wheat;
    font-weight: 500;
    font-size: large;
}

.different {
    color: white;
    font-size: xx-large;
}
textarea {
    resize: vertical;
    width: 27rem;
    height: 15rem;
}
input, textarea{
    background-color: green;
    padding: .75rem;
    margin: .50rem;
    color: white;
    border: none;
    border-radius: .75rem;
    
}
form {
    text-align: center;
}
button {
    background-color: black;
    padding: .75rem 1.75rem;    
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}

input::placeholder, textarea::placeholder, button {
    color: white;
}

input:focus, textarea:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {

.about-content-wrapper,
 .about-image,
  .works-item,
  .tech-item,
   .contact-group{
    width: 100%;    
} 

.footer-nav,
 .contact-me,
  .navbar, 
    .about-wrapper,
     .nav-toggler,
       .container,
        .tech-stacks,
         .works-completed{
            display: block;           
}

.footer-nav li {
    text-align: left;
    padding-left: 4rem;
}
.contact-group {
    padding: 1rem 3rem;
}
textarea {
    resize: none;
    width: 100%;    
}

input {
    width: 100%;
    padding: 1.5rem;
}
 
.about-content {
    font-size: large;
    text-align: left;
    padding: .75rem 0;
}
.about-subheader {
    font-size: x-large;
    text-align: left;
    padding: 1rem 0;
}

img {
    padding: .75rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}
.navbar-nav {
    display: none;    
}

iframe {
    height: 30rem;
}
}